body {
  font-family: 'Roboto Condensed', sans-serif;
}

header {
  color: white;
  background-color: black;
  width: 100%;
  height: 500px;
}

div.placeholder {
  font-weight: bold;
  font-size: 25px;
  border-radius: 5px;
  height: 50px;
  width: 10%;
  margin: auto;
  text-align: center;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
}

a:link {
    text-decoration: none;
}

a.headerlink {
  color: blue
}

a.sectionlink {
  color: white
}

header h1 {
  text-indent: 50px;
  font-size: 50px;
}

header h2 {
  text-align: center;
  font-size: 40px;
}

main {
  font-size: 22px;
  background-color: white;
  width: 35%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
  padding-right: 400px;
}

h3 {
  font-size: 35px;
  color: blue
}

}
main ul {
  padding-left: 70px;
  padding-right: 450px;
}

div {
  background-image: url("images/testimonial_bg.jpg");
  background-color: black;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
}

div p {
  padding-left: 600px;
  padding-right: 600px;
  text-align: center;
  font-size: 30px;
  }

section {
	background-color: yellow;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.placeholder {
    color: white;
    border-radius: 5px;
    height: 50px;
    width: 10%;
    margin: auto;
    text-align: center;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 25px;
}

footer h1 {
  color: yellow;
  font-size: 50px;
}

footer {
  background: black;
  width: 100%;
  text-align: center;
}

footer ul li {
	display: inline;
  padding-right: 45px;
}

footer p{
  color: white;
  font-size: 12px;
}
